<div style="text-align:center">
  <h2>
    {{ title }}
  </h2>
</div>
<quill-editor #editor [(ngModel)]="editorContent" (onContentChanged)="logChange($event);">
  <div quill-editor-toolbar>
    <span class="ql-formats">
      <select class="ql-header" [title]="'Header'">
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5"></option>
        <option value="6"></option>
        <option selected></option>
      </select>
      <select class="ql-font" [title]="'Font'">
        <option value="aref">Aref Ruqaa</option>
        <option value="mirza">Mirza</option>
        <option selected>Roboto</option>
      </select>
    </span>
    <span class="ql-formats">
      <button class="ql-bold" [title]="'Bold'">Bold</button>
      <button class="ql-italic" [title]="'Italic'">Italic</button>
      <button class="ql-underline" [title]="'Underline'">Underline</button>
    </span>
    <span class="ql-formats">
      <select class="ql-align" [title]="'Aligment'">
        <option selected></option>
        <option value="center"></option>
        <option value="right"></option>
        <option value="justify"></option>
      </select>
      <button class="ql-list" value="bullet" [title]="'Bullets'">Bullet</button>
      <button class="ql-list" value="ordered" [title]="'Numbering'">Ordered</button>
    </span>
    <span class="ql-formats">
      <button class="ql-link" [title]="'Link'">Link</button> 
      <button class="ql-image" [title]="'Image'">Image</button>
    </span>
    <span class="ql-formats">
      <button class="ql-clean" [title]="'Clear Format'">Clean</button> 
    </span>
  </div>
</quill-editor>

<router-outlet></router-outlet>
